@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PoppinsRegular;
  src: url("../public/Poppins-Regular.ttf");
}

body {
  font-family: PoppinsRegular, sans-serif;
  background-color: #f0f3f6;
  /* color: #ebf2fd"; */
}

.burger {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.burger::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.burger::after {
  content: "";
  position: absolute;
  top: -7px;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: min-content;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 0 1rem;
  gap: 1rem;
}

.snaps {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps > * {
  scroll-snap-align: start;
}

.calendar-opened {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 1rem, 0);
  transition-property: opacity, transform;
}

.calendar-closed {
  opacity: 0;
  visibility: inherit;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  transition-property: opacity, transform;
}

.calendar-opened,
.calendar-closed {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.open-menu {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform 0.38s ease-in-out, visibility 0.38s ease-in;
}

.close-menu {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.38s ease-in-out 0.25s, visibility 0.38s ease-out 0.25s;
}

.line1,
.line2 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transition: transform 0.35s ease;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-flow: column; */
  gap: 8px;
}

.open .line1 {
  transform: rotate(45deg);
  /* top: 50%; */
}

.open .line2 {
  transform: rotate(-45deg);
  /* bottom: 50%; */
}

#scroll {
  scroll-snap-type: mandatory;
  overflow-y: scroll;
  height: 100%;
}

.open-edit {
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s ease;
}

.close-edit {
  transform: translate3d(0, 100%, 0);
  transition: transform 0.25s ease;
}

.open-modal {
  opacity: 1;
  visibility: visible;
  transform: translate3d(-5px, 0, 0);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.close-modal {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.open-msg {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s ease-in-out;
}

.close-msg {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out;
}

.msg-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code {
  transform: scale(0);
  transition: transform 0.45s ease;
}

.mount-code {
  transform: scale(1);
}
